<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="${ac.contextPath}/">Config Server</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navBarUl" class="nav navbar-nav">
            <li id="configLi">
                <a href="$ac.contextPath/">配置管理</a>
            </li>
            <li id="appLi">
                <a href="#">应用管理</a>
            </li>
            <li id="envLi">
                <a href="#">环境管理</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->

</nav>