<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app">
	<resultMap id="AppMap" type="App">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="creator" property="creator"/>
		<result column="create_time" property="createTime" />
		<result column="modify_time" property="modifyTime" />
	</resultMap>

	<insert id="insert" parameterType="App" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `app`(
			`id`,
			`name`,
			`creator`,
			`create_time`,
			`modify_time`
		)
		VALUES (
			#{id},
			#{name},
			#{creator},
			#{createTime},
			#{modifyTime}
		)
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<select id="selectAll" resultMap="AppMap">
		SELECT * FROM `app` order by id desc
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(1) FROM `app`
	</select>


	<select id="selectAllName" resultType="string">
		SELECT `name` FROM `app`
	</select>

</mapper>