<style type="text/css">
    .config-list {
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        padding: 45px 15px 15px;
        border-style: solid;
        box-sizing: border-box;
    }
</style>

<form id="form" class="form-inline" action="${ac.contextPath}/config/list">
    <div class="form-group">
        <label for="app"></label>
        <input type="text" list="appNames" class="form-control" id="app" name="app" placeholder="Application" value="$!app"  autocomplete="off">
        <datalist id="appNames">
            #foreach($appName in $appNames)
            	<option value="$appName"></option>
			#end
        </datalist>
        <input type="hidden" id="env" name="env" value="$!env">
    </div>
    <button type="button" class="btn btn-primary" onclick="query()">Search</button>
    <button type="button" class="btn btn-info" onclick="add()">添加配置</button>
    <button type="button" class="btn btn-default" onclick="">配置对比</button>
    <button type="button" class="btn btn-default" onclick="">配置同步</button>
</form>

<div style="height: 50px"></div>
#if($showNoAppWarn)
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> 你还没有创建任何应用，可以前往<a href="${ac.contextPath}/app/add" class="alert-link">应用管理</a>进行创建
    </div>
#end

#if($showNoEnvWarn)
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> 你还没有创建任何环境，可以前往<a href="${ac.contextPath}/env/add" class="alert-link">环境管理</a>进行创建
    </div>
#end
#if($showHelpInfo)
    <div class="alert alert-info" role="alert">
        请选择一个应用，查询相关配置
    </div>
#end

#if($configs)
    <div class="config-list">
        <ul class="nav nav-tabs">
            #foreach($envName in $envNames)
                <li role="presentation" #if($envName == $env) class="active" #end ><a href="javascript:void(0)" onclick="query(null,'$envName')">$envName</a></li>
            #end
        </ul>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th style="width: 30%">名称</th>
                <th>类型</th>
                <th>状态</th>
                <th>版本号</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th>查看历史</th>
                <th>编辑配置</th>
            </tr>
            </thead>
            <tbody>
            #foreach($config in $configs)
            <tr>
                <td>$!config.id</td>
                <td>$!config.name</td>
                <td>$!config.type</td>
                <td>$!config.status</td>
                <td>$!config.version</td>
                <td>$!config.editor</td>
                <td>$!datetool.format("yyyy-MM-dd HH:mm:ss",$!config.modifyTime)</td>
                <td><a href="javascript:;" onclick="history($!config.id)">查看历史</a></td>
                <td><a href="javascript:;" onclick="edit($!config.id)">编辑配置</a></td>
            </tr>
            #end
            </tbody>
        </table>
    </div>
#end

<script type="text/javascript">

    function query(app, env) {
        if(app != null && app != undefined) {
            $("#app").attr("value",app);
        }
        if(env != null && env != undefined) {
            $("#env").attr("value",env);
        }
        $("#form").submit();
    }

    function add() {
        $("#form").attr("action","${ac.contextPath}/config/add");
        $("#form").submit();
    }

    function history(id) {
        if(id == null || id == undefined) {
            return false;
        }
        window.location.href= "${ac.contextPath}/config/history?id=" + id
    }

    function edit(id) {
        if(id == null || id == undefined) {
            return false;
        }
        window.location.href= "${ac.contextPath}/config/edit?id=" + id
    }

</script>